@font-face {
  font-family: Myfont;
  src: url("../WhiteStorm.otf");
}

body{
	height: 100%;
	width: 100%;
	/* background: #c7a74e; */
	background: #ffc700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img{
	position: absolute;
	top: 0;
	z-index: -1;
}

.header {
	background-color: black;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-bottom: 5vh;
}

.website {
	font-family: MyFont;
	font-size: 4vh;
	color: #ffc700;;
}

.title {
	font-family: MyFont;
	font-size: 8vh;
	margin-top: 0;
	color: #ffc700;
}

button{
	height: 6vh;
	width: 12vh;
	font-family: MyFont;
	font-size: 5vh;
	/* background: #382f15; */
	background: black;
	color: #ffc700;
	border: none;
	font-size: 5vh;
	margin-bottom: 10%;
}

.container{
	width: 70%;
	height: 90vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
}

textarea {
	background-color: transparent;
	border: none;
	font-family: MyFont;
	font-size: 5vh;
	text-align: center;
	width: 100%;
	letter-spacing: 0.2vw;
	margin-bottom: 2vh;
}

textarea:focus{
	border:none;
	outline: none;
	font-family: MyFont;
	font-size: 5vh;
	text-align: center;
	letter-spacing: 0.2vw;
}

/* .risposta {
	height: 20vh;
	letter-spacing: 0.2vw;
	font-family: MyFont;
	font-size: 8vh;
	text-align: center;
} */

.risposta {
	height: 20vh;
	/* height: 20vh; */
	letter-spacing: 0.2vw;
	font-family: MyFont;
	font-size: 8vh;
	/* font-size: 8vh; */
	text-align: center;
}

textarea:focus::placeholder {
	color: transparent;
  }

  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


/* .container-risposta {
	margin-top: 5vh;
	height: 30vh;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.container-risposta {
	margin-top: 5vh;
	height: 20vh;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

::placeholder {
	color: rgb(78, 78, 78);
	opacity: 1; /* Firefox */
  }

button::selection {
	border: none;
}

.loader {
	margin-top:2vh;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #000000;
	box-shadow: 32px 0 #000000, -32px 0 #000000;
	position: relative;
	animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
	0% {
	  background-color: #FFF2;
	  box-shadow: 32px 0 #FFF2, -32px 0 #000000;
	}
	50% {
	  background-color: #000000;
	  box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
	}
	100% {
	  background-color: #FFF2;
	  box-shadow: 32px 0 #000000, -32px 0 #FFF2;
	}
  }
		
